@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 

}

body.input{
    font-family: 'Poppins',sans-serif;
}

#main{
    height: 530px;
    background-image: radial-gradient(ellipse, #0000, #0007), url('../images/background_image.webp ');
     
    background-size: cover;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
      
    background-repeat: no-repeat;


}
    

#head{
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;

    background: transparent;
}


.logo{
    color:white;
    padding-left: 15px;
    font-size: 50px;
}
.logo:hover{
    cursor: pointer;
}


#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
     
     
}

#navbar li{
    list-style: none;
    position: relative;
}

 
 

#navbar li a{
    text-decoration: none;
    color: black;
    border: none;
    background-color: transparent;
    font-size: 25px;
    font-weight: 800;
     font-family:sans-serif;
     padding: 15px;
     transition: 0.4s;
      
}

#navbar li a:hover{
    color: white;
    cursor:pointer;
    font-size: 27px;
    background-color: black;
    border-radius: 20px;
         
}
#navbar li img:hover{
    cursor: pointer;
    background-color: aqua;
    border-radius: 18px;
    
     
     
}

#banner{
    padding-top: 40px;
    padding-left: 70px;
    margin-bottom: 0%;
    
}
 
 

 .safe{
     padding-top: 15px;
      
      
     color:aqua;
     font-size: 80px;
     
   
 }

 .doorstep{
     color: antiquewhite;
     font-size: 60px;
 }

 #services{
     padding-top: 10px;
     padding-left: 5px;
     height: 800px;
     background-color:#E5E5E5;
 }
 

 #services h1{
     text-align: center;
     font-size: 40px;
     font-weight: bold;
 }
 
 #services .container{
     align-items: center;
     
    display:block;
     height: auto;
     border-radius: 15px;
     background-color: white;
     
     /* overflow: hidden; */
 }
 #services .row{
     height: auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     
     
     padding: 25px   ;
      
 }
 .items{position: relative;
    
     border: transparent;
     border-radius: 15px;
     padding: 15px 10px;
     transition-duration: 0.5s;
 }
 .items:hover{
     cursor: pointer;
     padding-top: 5px;
     transition-duration: 0.5s;
     border: 5px 5px rebeccapurple;
     
 }
  
 .team{
     
     text-align: center;
     /* border: 5px solid gray ; */

 }

 #services .team img{
    height: 210px;
    width: 300px;
    border-radius: 15px;
 }
 




 
 
/* 
 #services .row{
     padding-left: 0px;
     background-color: whitesmoke;
     border-radius: 28px;
     height: 270px;
     display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
 }
 #home_services li{
    list-style: none;
    position: relative;
}

 #services .service{
    width: 20%;
    padding: 0px;
    margin: 0px;
    text-align: center;

 }
 #services .service img{
     padding: 20px 5px;
     height: 240px;
    width: 300px;
    border-radius: 30px;
    transition-duration: 0.3s   ;
     
 }
 .home_repair{
     color: blue;
     position: absolute;
    bottom: 0px;
 }

 #services .service img:hover{
    padding: 20px 5px;
    height: 250px;
   width: 310px;
    
} */


 
 