@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 

}

body.input{
    font-family: 'Poppins',sans-serif;
}

#main{
    height: 530px;
    background-image: radial-gradient(ellipse, #0000, #0007), url('../images/background_image.webp ');
     
    background-size: cover;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
      
    background-repeat: no-repeat;


}
    

#head{
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;

    background: transparent;
}


.logo{
    color:white;
    padding-left: 15px;
    font-size: 50px;
}
.logo:hover{
    cursor: pointer;
}


#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
     
     
}

#navbar li{
    list-style: none;
    position: relative;
}

 
 

#navbar li a{
    text-decoration: none;
    color: black;
    border: none;
    background-color: transparent;
    font-size: 25px;
    font-weight: 800;
     font-family:sans-serif;
     padding: 15px;
     transition: 0.4s;
      
}

#navbar li a:hover{
    color: white;
    cursor:pointer;
    font-size: 27px;
    background-color: black;
    border-radius: 20px;
         
}

#banner{
    padding-top: 40px;
    padding-left: 70px;
    margin-bottom: 0%;
    
}
 
 

 .safe{
     padding-top: 15px;
      
      
     color:aqua;
     font-size: 80px;
     
   
 }

 .doorstep{
     color: antiquewhite;
     font-size: 60px;
 }

 #services{
     padding-top: 10px;
     padding-left: 15px;
     height: 500px;
     background-color:white;
 }

 #services h1{
     text-align: center;
     font-size: 40px;
     font-weight: bold;
 }

 #services .row{
     
     display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 #services .service{
    width: 20%;
    padding: 0px;
    margin: 0px;
    text-align: center;

 }
 #services .service img{
     padding: 20px 5px;
     height: 260px;
    width: 320px;
     
 }


 
 