@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 

}

body.input{
    font-family: 'Poppins',sans-serif;
}

#main{
    height: 500px;
    background-image: url(https://res.cloudinary.com/urbanclap/image/upload/images/growth/home-screen/1615375782838-f890f8.jpeg);
    background-size: cover;
    background-repeat: no-repeat;


}
    

#head{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;

    background: transparent;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    color: black;


}




 
.cloudninelogo{
    color:aquamarine;
    padding-left: 0px;
    font-size: 40px;
}
.cloudninelogo:hover{
    cursor: pointer;
}

 

#navbar li a{
    border: none;
    background-color: transparent;
    font-size: 25px;
    font-weight: 800;
     font-family:sans-serif;
     padding: 15px;
     transition: 0.4s;
      
}

#navbar li a:hover{
    color: white;
    cursor:pointer;
    background-color: black;
    border-radius: 20px;
         
}

#banner{
    padding-top: 20px;
    padding-left: 20px;
}
 

/* 
.top_buttons:hover{
    color: white;
    cursor:pointer;
    background-color: black;
    border-radius: 20px;
         
    
} */



button.signup_button{
    color:aqua;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid ;
    border-color: rgb(32, 19, 19);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    height: 50px;

}